/* base styles, feel free to edit */

html,
body {
  margin: 10px;
  padding: 0;
  /*height: 100%;*/ /*This prevents end of page detection*/
  font-family: Arial;
}

.nav-item:hover {
  cursor: pointer;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
}

/* Login page */
#login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* Register page */
#register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

/* Watch via email popup*/
#modal-watch .modal-footer {
  justify-content: space-between;
}

/* Error popup*/
#error-popup {
  position: fixed;
  left: 45%;
  border: 5px red solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  background-color: white;
}
#error-content {
  padding: 10px;
}
/* Logout popup*/
#logout-popup {
  position: fixed;
  left: 45%;
  border: 5px #0d6efd solid;
  border-radius: 10px;
  width: fit-content;
  padding: 10px;
  background-color: white;
}
#logout-content {
  padding: 10px;
}

/* Feed */
.feed-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-right: 20px;
}
.feed-item {
  display: flex;
  border: 1px black solid;
  gap: 10px;
  padding: 10px;
  width: 100%;
  max-width: 550px;
}
.feed-image {
  width: 300px;
  height: auto;
  object-fit: contain;
}
.feed-text {
  width: 300px;
}
.clickable {
  color: #1567c0;
}
.clickable:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

/* Profile page */
#profile-details {
  display: flex;
  gap: 10px;
  padding: 10px;
}
#profile-image {
  width: 300px;
  height: auto;
  object-fit: contain;
}

/* Update profile page */

/* Adding a job */
.datetime {
  max-width: 150px;
}

.btn-primary {
  margin: 10px 0px;
}

h4 {
  margin-top: 10px;
}

/* At the bottom so it overrides the above */
.hide {
  display: none;
}
